configs/**
!configs/.empty

data/compose/**
!data/compose/.empty
data/swarm/**
!data/swarm/.empty

logs/**
!logs/.empty

secrets/compose/**
!secrets/compose/.empty
secrets/swarm/**
!secrets/swarm/.empty

services/**
!services/readme.md

# anything else to ignore
